.contenedor{
    max-width: 1000px;
    margin: 0 auto;
}


 /*** Navegador1 ****/

.nav1{
    background-color:blue;
    color: white;
    padding: 20px;
}

.nav1 ul{
    display: flex;
    flex-direction: column;
    list-style: none;

    @media screen and (min-width:480px){
    flex-direction: row;

}

}
.nav1 ul li{
    flex-grow: 1;
    padding: 10px;
    @media screen and (min-width:480px){
    padding: 0;
    }
    
}

/*** Navegador 2 ***/

.nav2{
    background-color: blue;
    color: white;
}

.nav2 ul{
    display: flex;
    flex-direction: column;

    @media screen and (min-width:480px){
    flex-direction: row;
    flex-wrap: wrap;
    }

    @media screen and (min-width: 768px){
        flex-direction: row;
        
    }
}


.nav2 ul li{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
    
}

i{      
    align-items: flex-start;
    padding-bottom: 20px;
    padding-right: 20px;
    font-size: 30px;
}



/*** NAV3 ***/

.nav3{
    background-color: blue;
    color: white;
}
.nav3 ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    @media screen and (min-width:480px){
    flex-direction: row;
    font-size: 20px;
    }
    

}

.nav3 ul li{
    flex-grow: 1;
    list-style: none;
    padding: 15px;
}





#dropdown1{
    position: relative;
   background-color:blue;

   @media screen and (min-width:480px){
    background-color: blue;
  

}
}


#dropdown1 ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;

    @media screen and (min-width:480px){
        width: 100%;
        left: 0;
        top: 100%;
        position: absolute;
        background-color: orangered;
        display: none;
        box-sizing: border-box;
        }
    
}

#dropdown1 ul li{
 padding: 10px;
 
}

#dropdown1:hover{
    background-color:  rgb(24, 42, 133);
}
#dropdown1:hover ul {
  display: block;
}
#dropdown1 ul li:hover{
    background-color:  orangered
}


/*** NAV4 ***/

.nav4{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    background-color: blue;
    color: white;
    padding: 20px;

}
.nav4 div{
    padding-top: 10px;
}


/*** NAV5 ***/

.nav5{
    background-color: blue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}

.ulnav5{
    list-style: none;
    @media  screen and (min-width:480px){
    display: flex;
    flex-direction: row;
    font-size: 20px;
        
    }
}

.ulnav5 li{
  flex-grow: 1;
  padding: 10px;
 
}

.nav5 div i{
    padding-top: 20px;
}

.dropdown2{
    position: relative;
}

.dropdown2 ul{
    display: flex;
    flex-direction: column;
    padding: 10px;
    @media screen and (min-width:480px){
    background-color: orangered;
    display: none;
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    left: 0;
    top: 100%;

    }

}

.dropdown2 ul li{
    padding: 10px;
}

.dropdown2:hover  ul{
    display: block;
}



