
body{
    padding-left: 50px;
}


#columnas{
    background-color: white;

    @media screen and (min-width:768px){
        background: linear-gradient(to right, #ff6666, #f0f0f0, #ffa366);

    }
}

.contenedor{
    max-width:1000px;
    margin: 0 auto;
    background: white;
    padding: 20px;
}

/*** ESTILO PARA NAVEGADORES IGUALES ***/

.ulIguales{
    display: flex;
    flex-direction: column;
    list-style: none;

    @media screen and (min-width:768px){
    flex-direction: row;
    
}
}

.ulIguales  li{
    padding: 10px;

    @media screen and (min-width:768px){
    font-size: 25px;
    flex-grow: 1;
    justify-content: center;
    }
}

.ulIguales li:hover{
    background-color:  rgb(24, 42, 133);
}



 /*** Navegador1 ****/

.nav1{
    background-color:blue;
    color: white;
    padding: 20px;
}


.nav1 ul li{
    display: flex;
    justify-content: center;
    padding: 10px;
    @media screen and (min-width:768px){
    padding: 0;
    flex-grow: 1;
    font-size: 25px;
    }
    
}



/*** Navegador 2 ***/

.nav2{
    background-color: blue;
    color: white;
}

.nav2 ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    @media screen and (min-width:480px){
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.grupo{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    @media screen and (min-width:480px){
        flex-direction: row;
    }
}
.grupo li{
    display: flex;
    flex-direction: row;
    @media  screen and (min-width:480px) {
        flex-grow: 1;
        flex-basis: 50%;
        
    }
}

i{     
    padding-top: 20px;
    padding-right: 20px;
    font-size: 32px;
}

.grupo li:hover{
    background-color: rgb(24, 42, 133);
}



/*** NAV3 ***/

.nav3{
    background-color: blue;
    color: white;
}


#dropdown1{
    position: relative;
   background-color:blue;

   @media screen and (min-width:768px){
    background-color: blue;
  

}
}


#dropdown1 ul{
    display: flex;
    flex-direction: column;
    list-style: none;

    @media screen and (min-width:480px){
        width: 100%;
        left: 0;
        top: 100%;
        position: absolute;
        background-color: orangered;
        display: none;
        box-sizing: border-box;
        }
    
}




#dropdown1:hover{
    background-color: rgb(24, 42, 133);
}
#dropdown1:hover ul {
  display: block;
}
#dropdown1 ul li:hover{
    background-color:  orangered
}


/*** NAV4 ***/

.nav4{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    background-color: blue;
    color: white;

}
.nav4 div{
    padding-bottom: 20px;
}


/*** NAV5 ***/

.nav5{
    background-color: blue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}
 

.nav5 .ulIguales li{
  flex-grow: 1;
  padding: 20px;
 
}

.nav5 div i{
    padding-top: 20px;
}

.dropdown2{
    position: relative;
}

.dropdown2 ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 10px;
    @media screen and (min-width:768px){
    background-color: orangered;
    display: none;
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    left: 0;
    top: 100%;

    }

}

.dropdown2 ul li{
    padding: 10px;
}

.dropdown2:hover  ul{
    display: block;
}

.dropdown2 ul li:hover{
    background-color:orangered;
}



